@charset "UTF-8";

body {
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    max-width: 500px;
    min-width: 200px;
    padding: 15px;
    margin: auto;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.363);
}

div#msg {
    text-align: center;
}

img#imagem {
    display: block;
    margin: auto;
}

footer{
    text-align: center;
    font-style: italic;
}

p > a {
    text-decoration: none;
    color: white;
}

p > a:hover {
    text-decoration: underline;
    color: rgb(168, 168, 168);
}